{% load static %}
<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <!-- 밑의 두줄 = bootstrap 선언 -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- 폰트 -->
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- css files -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Django blog</title>
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %} <!-- 인증여부 확인. 로그인 확인. -->
            <!-- 로그인 상태에서만 보여줄 화면 -->
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <p class="top-menu">
                Hello {{ user.username }}
                <small>
                    (<a href="{% url 'logout' %}">Log out</a>)
                </small>
            </p>
        {% else %}
            <!-- 로그인 버튼, 자물쇠 모양으로 스타일을 주었다. -->
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="{% url 'post_list' %}">Django Blog</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>