{% extends 'blog/base.html' %}

{% block content %}
    <!-- 게시글 작성 포맷 -->
    <h1>New post</h1>
    <!-- 폼을 제출할 때, request에는 우리가 입력했던 데이터들을 가지고 있는데, request.POST가 이 데이터를 가지고 있습니다 -->
    <!-- enctype="multipart/form-data : 파일업로드 -->
    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}

        <table>
            {{ form.as_table }} <!-- view에서 넘어온 PostForm 객체 -->
        </table>

        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}